.emoji-result-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 32px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji-result-item:hover {
  background-color: #eee;
}

.emoji-result-item .left-container {
  display: flex;
  align-items: center;
}

.emoji-result-item img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.emoji-result-item .info {
  display: none;
  color: #ccc;
}

.emoji-result-item:hover .info {
  display: inline-flex;
}
